<%= form_tag "/videos/#{ @video.id }", method: :patch do  %>

  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :url %>
    <%= text_field_tag :url %>
  </div>
  
  <%= submit_tag "Submit" %>
<% end %>