<%= form_for [:admin, @show], :html => { :multipart => true } do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control", required: true %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", required: true %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control", required: true %>
  </div>
  <div>
    <%= f.label "url (plz include http://)" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <%= f.submit "Submit" %>
<% end %>