
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <%= image_tag "kirbydance.gif", style: "width: 10%" %><%= image_tag "dance1.gif", style: "width: 50%" %><%= image_tag "kirbydance.gif", style: "width: 10%" %>
    <% if @shows.length > 0 %>
      <table class="table">
      <tbody>
      <% @shows.each do |show| %>
        <tr>
          <td><%= show.date.strftime("%m/%d") %></td>
          <td><%= show.description %></td>
          <td><%= show.location %></td>
          <td><% if show.url != "" %><a href="<%= show.url %>">More Info</a><% end %></td>
        </tr>
      <% end %>
    <% else %>
      <h2>more shows tba <3</h2>
    <% end %>
      </tbody>
    </table>
  </div>
</div>